<div class="container">
  <br>
  <center>
      <h1>[ <%= params[:p_id] %>번 글입니다 ]</h1>
      <p>글을 수정 / 삭제하세요</p>
  </center>    

<h2>제목 : <%= @show_post.title %> <br><br></h2>
<h2>작성자 : <%= @show_post.editor %> <br><br></h2>
<h3>내용 : <%= @show_post.content %> <br><br></h3>

<a href="/board/delete/<%= @show_post.id %>">[ 삭 제 ]</a>
<a href="/board/edit/<%=@show_post.id%>">[ 수 정 ]</a>
<a href="/">[ 귀 환 ]</a>
<hr/><br><br>
    <% @show_reply.each do |r| %>
      작성자 : <%= r.editor %> <br>
      댓글내용 : <%= r.content %> <br>
      <a href="/comment/reply_delete/<%=r.id%>">[ 삭 제 ]</a>
      <hr/>
    <% end %>
<br><br>
<center><h3>[ 댓글 달기 ]</h3></center>
  <form action="/comment/reply_create" method="POST">
      <div class="form-group">
        <label for="editor">댓글 작성자</label>
        <input type="text" name="replyeditor" class="form-control" id="exampleInputPassword1" placeholder="editor">
      </div>
      <div class="form-group">
          <label for="comment">글 내용</label>
          <textarea class="form-control" name="replycontent" rows="10" id="comment"></textarea>
        </div>
      <div class="form-group">
        <input type="hidden" name="postnumber" class="form-control" id="exampleInputPassword1" placeholder="editor" value="<%=params[:p_id]%>">
      </div>
      <button type="submit" class="btn btn-primary">작성하기</button>
    </form>
</div>


