<link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Gugi|Nanum+Gothic" rel="stylesheet">

<div class="container">
  <br>
  <center>
      <h1><%= @show_post.title %></h1>
      <h2> <%= @show_post.editor %> 을 위한 노트북 </h2>
  </center>    

<a href="/board/delete/<%= @show_post.id %>">   DELETE   </a>
<a href="/board/edit/<%=@show_post.id%>">   EDIT   </a>
<a href="/">   HOME   </a>
<hr/><br>
<div class='container'>
  <%= image_tag("#{@show_post.id}.png", :width => '100%', :align => 'right') %>
</div>
<br><br><hr>
    <% @show_reply.each do |r| %>
      작성자 : <%= r.editor %> <br>
      댓글내용 : <%= r.content %> <br>
      <a href="/comment/reply_delete/<%=r.id%>"> DELETE </a>
      <hr/>
    <% end %>
<br><br>
<center><h3> COMMENTS </h3></center>
  <form action="/comment/reply_create" method="POST">
      <div class="form-group">
        <label for="editor">댓글 작성자</label>
        <input type="text" name="replyeditor" class="form-control" id="exampleInputPassword1" placeholder="editor">
      </div>
      <div class="form-group">
          <label for="comment">글 내용</label>
          <textarea class="form-control" name="replycontent" rows="10" id="comment"></textarea>
        </div>
      <div class="form-group">
        <input type="hidden" name="postnumber" class="form-control" id="exampleInputPassword1" placeholder="editor" value="<%=params[:p_id]%>">
      </div>
      <button type="submit" class="btn btn-primary" style="background-color: #5fadcd; border: 0;">WRITE</button><br><br><br><br><br>
    </form>
</div>